<div class="basic-info-container" [formGroup]="parentForm">
  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Enter webinar title"
      />
      <mat-error *ngIf="parentForm.get('title')?.errors?.['required']"
        >Title is required</mat-error
      >
      <mat-error *ngIf="parentForm.get('title')?.errors?.['minlength']"
        >Title must be at least 3 characters</mat-error
      >
    </mat-form-field>
  </div>

  <!-- Description -->
  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Enter webinar description"
      ></textarea>
      <mat-error *ngIf="parentForm.get('description')?.errors?.['required']"
        >Description is required</mat-error
      >
      <mat-error *ngIf="parentForm.get('description')?.errors?.['minlength']"
        >Description must be at least 10 characters</mat-error
      >
    </mat-form-field>
  </div>

  <!-- Type of Webinar -->
  <div class="form-field">
    <mat-label>Type of Webinar</mat-label><br />
    <mat-radio-group formControlName="type" class="radio-group">
      <mat-radio-button value="single" color="primary"
        >Single Session</mat-radio-button
      >
      <mat-radio-button value="multi" color="primary"
        >Multi Session</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <!-- Session Type -->
  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Session Type</mat-label>
      <mat-select formControlName="sessionType">
        <mat-option *ngFor="let type of sessionTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Start Date -->
  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="parentForm.get('startDate')?.errors?.['required']"
        >Start date is required</mat-error
      >
    </mat-form-field>
  </div>

  <!-- Start Time and Duration -->
  <div class="time-duration-container">
    <div class="form-field time-field">
      <mat-form-field appearance="outline">
        <mat-label>Start Time</mat-label>
        <input matInput type="time" formControlName="startTime" />
        <mat-error *ngIf="parentForm.get('startTime')?.errors?.['required']"
          >Start time is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-field duration-field">
      <mat-form-field appearance="outline">
        <mat-label>Duration (minutes)</mat-label>
        <input matInput type="number" formControlName="duration" min="15" />
        <mat-error *ngIf="parentForm.get('duration')?.errors?.['required']"
          >Duration is required</mat-error
        >
        <mat-error *ngIf="parentForm.get('duration')?.errors?.['min']"
          >Duration must be at least 15 minutes</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <!-- Time Zone -->
  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Time Zone</mat-label>
      <mat-select formControlName="timeZone">
        <mat-option value="UTC">UTC</mat-option>
        <mat-option value="GMT">GMT</mat-option>
        <mat-option value="EST">EST</mat-option>
        <mat-option value="CST">CST</mat-option>
        <mat-option value="PST">PST</mat-option>
      </mat-select>
      <mat-error *ngIf="parentForm.get('timeZone')?.errors?.['required']"
        >Time zone is required</mat-error
      >
    </mat-form-field>
  </div>

  <!-- Event Language -->
  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Language</mat-label>
      <mat-select formControlName="language">
        <mat-option value="English (United States)"
          >English (United States)</mat-option
        >
        <mat-option value="German (Germany)">German (Germany)</mat-option>
        <mat-option value="Spanish (Spain)">Spanish (Spain)</mat-option>
        <mat-option value="French (France)">French (France)</mat-option>
        <mat-option value="Japanese (Japan)">Japanese (Japan)</mat-option>
      </mat-select>
      <mat-error *ngIf="parentForm.get('language')?.errors?.['required']"
        >Language is required</mat-error
      >
    </mat-form-field>
  </div>
</div>
