<div class="attendance-container">
  <div class="registration-options" [formGroup]="parentForm">
    <mat-radio-group formControlName="registrationType" class="registration-type-group">
      <mat-radio-button *ngFor="let type of registrationTypes" 
                       [value]="type.value"
                       class="registration-option">
        <div class="option-content">
          <h4>{{ type.title }}</h4>
          <p>{{ type.description }}</p>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
