<nav class="navbar">
  <div class="navbar-left">
    <!-- Logo -->
    <a href="/" class="logo">
      <img src="./assets/logo.png" alt="Streavent" />
    </a>
    <!-- <img src="./assets/logo.png" alt="My Image"> -->
    <!-- Navigation Links -->
    <div class="nav-links">
      <a href="/events" class="active">All Events</a>
      <a href="/teams">All Teams</a>
      <a href="/user-management">User Management</a>
    </div>
  </div>

  <div class="navbar-right">
    <a href="/guide" class="nav-item">
      <img src="assets/guide.svg" alt="Language" />
    </a>
    <a href="/guide" class="nav-item">
      <span>User Guide</span>
    </a>

    <!-- Notifications -->
    <button class="nav-item notifications">
      <i class="fas fa-bell"></i>
    </button>

    <!-- Language Selector -->
    <div class="nav-item language-selector">
      <img src="assets/lang.svg" alt="Language" />
    </div>
    <div class="nav-item user-profile">
      <div style="text-align: right">
        <h3 style="margin: 0">Patricia Peters</h3>
        <p style="margin: 0">Manager</p>
      </div>
    </div>
    <!-- User Profile -->
    <div class="nav-item user-profile">
      <img src="assets/profile.jpeg" alt="Profile" class="avatar" />
    </div>
  </div>
</nav>
